[Unit]
Description=Factorio Restore
After=cloud-final.service

[Service]
EnvironmentFile=/etc/factorio/factorio-environment
ExecStart=/usr/bin/env aws s3 sync s3://${S3_BUCKET}/saves .
ExecStart=chown 845:845 .
WorkingDirectory=/opt/factorio/saves
Restart=no
Type=oneshot
User=root
ProtectHome=yes
ReadWritePaths=/opt/factorio/saves
PrivateTmp=true

[Install]
